{{ $page := . }}


<table class="navigation">
  <tr>
    {{ with index .Site.Menus "main" }}
      {{ range . }}
        {{ $isCurrent := $page.IsMenuCurrent "main" . }}
        <td class="navigation">
          <a
            {{ if $isCurrent }}
              class="current"
            {{ end }}
            title="{{ .Name }}"
            href="{{ .URL }}"
            >mmm {{ .Name }} - URL:{{ .URL }} - PageRef:{{ .PageRef }}</a
          >
        </td>
      {{ end }}
    {{ end }}
  </tr>
</table>
