<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-7VVWB6VB64"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-7VVWB6VB64");
    </script>
    <base href="." />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    {{ with resources.Get "styles.css" }}
      <link
        rel="stylesheet"
        type="text/css"
        media="all"
        href="{{ .RelPermalink }}"
      />
    {{ end }}
    <meta name="description" content="Home page for RL4AA'26 workshop" />
    <meta name="resource-type" content="document" />
    <meta name="distribution" content="global" />
    <meta name="KeyWords" content="Conference" />
    <title>{{ .Site.Title }}</title>
  </head>

  <body>
    {{ partial "banner.html" . }}
    {{ partial "navigation.html" . }}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>
